.sidenav {
    min-width: 300px;
}

.sidenav-title {
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.sidenav-container {
    width: 100%;
    top: 64px;
    bottom: 50px;
    position: fixed;
}

/* Media query */
@media screen and (max-width: 599px) {
    .sidenav {
        min-width: 50%;
    }
    .sidenav-container {
        top: 56px;
    }
}