@import '~@angular/material/theming';

@include mat-core();

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Open Sans, Helvetica Neue, sans-serif',
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-indigo);
$default-accent-palette: mat-palette($mat-pink, A200, A100, A400);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
.theme-default {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a yellow dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$yellow-dark-theme-primary-palette: mat-palette($mat-amber);
$yellow-dark-theme-accent-palette: mat-palette($mat-blue-grey, A200, A100, A400);
$yellow-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$yellow-dark-theme: mat-dark-theme($yellow-dark-theme-primary-palette, $yellow-dark-theme-accent-palette, $yellow-dark-theme-warn-palette);

// Add ".theme-yellow-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
.theme-yellow-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($yellow-dark-theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-dark-theme-primary-palette: mat-palette($mat-blue);
$blue-dark-theme-accent-palette: mat-palette($mat-blue-gray, A200, A100, A400);
$blue-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-dark-theme: mat-dark-theme($blue-dark-theme-primary-palette, $blue-dark-theme-accent-palette, $blue-dark-theme-warn-palette);

// Add ".theme-blue-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
.theme-blue-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-dark-theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a pink dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$pink-dark-theme-primary-palette: mat-palette($mat-pink);
$pink-dark-theme-accent-palette: mat-palette($mat-pink, A200, A100, A400);
$pink-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$pink-dark-theme: mat-dark-theme($pink-dark-theme-primary-palette, $pink-dark-theme-accent-palette, $pink-dark-theme-warn-palette);

// Add ".theme-pink-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
.theme-pink-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($pink-dark-theme);
}
