<mat-tab-group color="accent" backgroundColor="accent" mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Label
    </ng-template>
    <div class='container'>
      <h1>Isto está sendo consumido de um serviço HTTP: <b>{{ todo }}</b></h1>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Validator
    </ng-template>
    <form class="example-form container" [formGroup]="exampleForm">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Exemplo Form</mat-card-title>
          <mat-card-subtitle>Form Validator Package</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <mat-form-field class="example-full-width">
            <mat-label>Empresa (disabled)</mat-label>
            <input matInput disabled value="Banco Olé">
          </mat-form-field>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Nome</mat-label>
                  <lib-input-validator-ole [label]='""' [errorMessage]='"Nome é obrigatório !"'>
                    <input matInput formControlName="nome">
                  </lib-input-validator-ole>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Sobrenome</mat-label>
                  <lib-input-validator-ole [label]='""' [errorMessage]='"Sobrenome é obrigatório !"'>
                    <input matInput formControlName="sobrenome">
                  </lib-input-validator-ole>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>Endereço</mat-label>
              <lib-input-validator-ole [label]='""' [errorMessage]='"Endereço é obrigatório !"'>
                <input matInput formControlName="endereco">
              </lib-input-validator-ole>
            </mat-form-field>
          </p>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Cidade</mat-label>
                  <lib-input-validator-ole [label]='""' [errorMessage]='"Endereço é obrigatório !"'>
                    <input matInput formControlName="cidade" placeholder="Ex. BH">
                  </lib-input-validator-ole>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Estado</mat-label>
                  <lib-input-validator-ole [label]='""' [errorMessage]='"Endereço é obrigatório !"'>
                    <input matInput formControlName="cidade" placeholder="Ex. MG">
                  </lib-input-validator-ole>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">ENVIAR</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>
